[program:sentry-web]
user=sentry
directory=/var/sentry/
environment=SENTRY_CONF="/etc/sentry"
command=/var/sentry/ve/bin/sentry --config="/etc/sentry" start
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=syslog
stderr_logfile=syslog

[program:sentry-worker]
user=sentry
directory=/var/sentry/
environment=SENTRY_CONF="/etc/sentry"
command=/var/sentry/ve/bin/sentry --config="/etc/sentry" celery worker
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=syslog
stderr_logfile=syslog

[program:sentry-cron]
user=sentry
directory=/var/sentry/
environment=SENTRY_CONF="/etc/sentry"
command=/var/sentry/ve/bin/sentry --config="/etc/sentry" celery beat
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=syslog
stderr_logfile=syslog